/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/deepvariant -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  bam_folder = 'testdata/small'
  test = true
  hg19chr20 = true
}
